/* Style for the Jitsi Meet button */
.jitsi-meeting-link {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.jitsi-meeting-link:hover {
    background-color: #45a049;
}
